@use "../../assets/styles/variables" as *;

.beer-card {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // background-color: $background-color;
  // width: 100%;
  max-width: 3500px;
  // padding: 1rem;

  position: relative;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0.625rem 1.25rem rgba($text-color, 0.25);


  .beer-card__content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    word-break: break-word;
  }

  .beer-card__name {
      font-size: 1.5rem;
      font-weight: normal;
  }

  .beer-card__description {
      font-size: 1.5rem;
      font-weight: normal;
    }

  .beer-card__abv {
      font-size: 1.5rem;
      font-weight: normal;
    }

  .beer-card__ph{
      font-size: 1.5rem;
      font-weight: normal;
    }

  
}
