@use "./assets/styles/reset";
@use "./assets/styles/typography";
@use "./assets/styles/variables" as *;

.app {
    height: 100vh;
    overflow-x: hidden;
    background-color: $background-color;
    padding: 2rem;
  
    > * {
      margin-bottom: 1.5rem;
    }

    .app-heading {
      color: red;
    }

  }


